body {
  overflow-x: hidden;
}
section {
  padding-top: 5vh;
}
footer a {
  text-decoration: none;
}
.grey-bg-color {
  background-color: #f7f7f9;
}

.large-text {
  font-size: 2em;
}

.padding-bottom {
  padding-bottom: 1vh;
}

.display-5 {
  font-size: 2.5rem;
  font-weight: 300;
}

.section-image {
  min-height: 320px;
  width: 100%;
}

.composition {
  background-image: url('/images/composition.jpeg');
  background-size: cover;
}

.orchestra {
  background-image: url('/images/orchestra.jpeg');
  background-size: cover;
}

.piano {
  background-image: url('/images/piano.jpeg');
  background-size: cover;
}
